/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*my reset*/
*, *:before, *:after {
	box-sizing: border-box;
}
/*my css*/
html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	background: black;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	
}

/*header section*/
/*.position-change {
	position: absolute;
	width: 100%;
}*/
header {
	padding-top: 3rem;
}
.logo {
	font-size: 2rem;
	color: white;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 0.08rem;
}

/*hero section*/
.hero {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10rem;
	align-items: center;
	margin-top: 1rem;
}
.hero img {
	height: auto;
	width: 100%;
}
.hero-heading {
	font-size: 2.5rem;
	color: white;
	font-weight: 400;
	letter-spacing: 0.08rem;
	text-transform: uppercase;
	line-height: 1.5;

}
.hero-subheading {
	font-size: 1.2rem;
	color: white;
	letter-spacing: 0.08rem;
	line-height: 1.8;
	font-weight: 400;
	margin: 2rem 0;
}
.hero-caption {
	font-size: 1rem;
	color: white;
	letter-spacing: 0.08rem;
	font-weight: 300;

}

/*section upper-footer*/
.upper-footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-between; 
	margin-top: 4rem;
}
.company-sec-heading, .communities-sec-heading, .contact-sec-heading {
	color: #909496;
	font-size: 1rem;
	margin-bottom: 1.8rem;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.08rem;

}
.company-sec-items, .communities-sec-items{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 1rem;
	letter-spacing: 0.08rem;
	margin-bottom: 1.8rem;
}
.contact-address {
	color: white;
	line-height: 2;
	letter-spacing: 0.08rem;
	font-size: 1rem;
	margin-bottom: 1.8rem;

}
.madein-text {
	color: white;
	font-size: 1rem;
	letter-spacing: 0.08rem;
	margin-bottom: 1.8rem;
}
.madein-items, .madein-items-a {
	text-decoration: none;
	display: block;
	color: white;
	font-size: 1rem;
	margin-bottom: 1.8rem;
}


/*icons*/


@keyframes move {
	from {
	transform: 	rotate(0deg) translateX(30px) rotate(0deg);
	}
	to{
	transform: 	rotate(360deg)  translateX(30px) rotate(-360deg);
	}
}
@keyframes move1 {
	from {
	transform: 	rotate(360deg)  translateX(30px) rotate(-360deg);
	}
	to{
	transform: 	rotate(0deg) translateX(30px) rotate(0deg);
	}
}
.fb {
	position: absolute;
	z-index: -1;
	left: 4%;
	top: 12%;
	animation-name: move1;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.twitter{
	position: absolute;
	z-index: -1;
	left: 15%;
	top: 60%;
	animation-name: move;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.airbnb {
	position: absolute;
	z-index: -1;
	left: 25%;
	top: 45%;
	animation-name: move1;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.ig {
	position: absolute;
	z-index: -1;
	left: 32%;
	top: 5%;
	animation-name: move;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.linkedin {
	position: absolute;
	z-index: -1;
	left: 40%;
	top: 70%;
	animation-name: move;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.paytm {
	position: absolute;
	z-index: -1;
	right: 2%;
	top: 30%;
	animation-name: move1;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.sheets {
	position: absolute;
	z-index: -1;
	left: 35%;
	top: 90%;
	animation-name: move1;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.skype {
	position: absolute;
	z-index: -1;
	left: 12%;
	top: 25%;
	animation-name: move;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.whatsapp {
	position: absolute;
	z-index: -1;
	left: 45%;
	top: 53%;
	animation-name: move1;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.search {
	position: absolute;
	z-index: -1;
	right: 12%;
	bottom: 15%;
	animation-name: move1;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.gmail {
	position: absolute;
	z-index: -1;
	right: 25%;
	top: 45%;
	animation-name: move;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.spotify {
	position: absolute;
	z-index: -1;
	left: 7%;
	top: 82%;
	animation-name: move1;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.youtube {
	position: absolute;
	z-index: -1;
	right: 18%;
	top: 12%;
	animation-name: move;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.snapchat{
	position: absolute;
	z-index: -1;
	left: 47%;
	top: 25%;
	animation-name: move1;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.slack {
	position: absolute;
	z-index: -1;
	right: 37%;
	bottom: 18%;
	animation-name: move;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
/*for tablet*/
@media all and (max-width: 960px) {
	html {
		font-size: 12px;
	}
	.hero {
		text-align: center;
		display: block;
		width: 100%;
		margin-top: 5rem;
	}
	.upper-footer{
		grid-template-columns: 1fr 1fr;
	}
	.communities-sec {
		display: inline-block;
	}
	.padding {
		padding-left: 2rem;
	}
}
/*for mobile*/
@media all and (max-width: 760px) {
	html {
		font-size: 10px;
	}
	.hero {
		text-align: center;
		display: block;
		width: 100%;
		margin-top: 5rem;
	}
	.upper-footer{
		grid-template-columns: 1fr 1fr;
	}
	.mobile-margin{
		margin-top: 4rem;
	}
	/*.another {
		display:block;
	}*/
	.padding {
		padding-left: 2rem;
	}

}